# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../:\Users\Juan\OneDrive - Universidad Politécnica de Madrid\Investigacion en proceso\DLA\dla_phy\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
